body

{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background: radial-gradient(white, grey, black) fixed;
}

/* Provare a fare menu foto class? */

#about

{
    color: white;
    font-size: 150%;
}

#gerusalemme

{
    color: white;
    font-size: 150%;
}

#foto

{
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    up: 300px;
    height: auto; 
    width: 60%; 
    max-width: 60%; 
    max-height: auto;
}
