body

{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: #504A4B;
}

/* Provare a fare menu foto class? */

#about

{
    color: white;
    font-size: 150%;
}

#gerusalemme

{
    color: white;
    font-size: 150%;
}

#about

{
    color: white;
    font-size: 150%;
}

#foto

{
    height: auto; 
    width: auto; 
    max-width: 1024px; 
    max-height: 800px;
}
