body

{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: lighter;
    background-color: #505050;
}

a

{
    color: inherit;
    text-decoration: none;

}

/* Provare a fare menu foto class? */

.menu

{
    color: white;
    font-size: 100%;
    line-height: 100px;
}

#foto

{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20%;
    max-width: 70%; 
    max-height: auto;
}
